

.main{
    margin-top: 50px;
}

.dogs_wrap{
    display: flex;
}

.dog_item {
    position: relative;
    max-width: 700px!important;
    max-height: 400px!important;
    margin-bottom: 30px;
    margin-right: 30px;
}
.dog_item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -o-linear-gradient(86.79deg, #000 -15.62%, rgba(0, 0, 0, 0) 45.69%);
    background: linear-gradient(3.21deg, #000 -15.62%, rgba(0, 0, 0, 0) 45.69%);
}
.dog_item__heard {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    z-index: 10;
}
.dog_item__name {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 10;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
}
.dog_item__img {
    width: 100%;
    height: 100%;
}
.dog_item__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px;

}

.dog_info{
    padding-top: 30px;
}
.dog_info b{
    color: #626262;
    margin-right: 10px;
}

.btn_dog{
    margin-top: 30px;
    margin-left: 0;
}
.btn_dog_gold {
    margin-top: 30px;
    margin-left: 0;
    background: #ffd700;
    color: #000;
}

@media all and (max-width: 980px) {
    .dogs_wrap{
        flex-direction: column;
    }

    .dog_item{
        margin: 0 auto;
        width: 100%;
    }

    .dog_item__img{
        width: 100%;
        height: 290px;
    }

}